@font-face {
  font-family: "iconfont"; /* Project id 2692073 */
  src: url('@/static/svg/iconfont.woff2?t=1681126472511') format('woff2'),
       url('@/static/svg/iconfont.woff?t=1681126472511') format('woff'),
       url('@/static/svg/iconfont.ttf?t=1681126472511') format('truetype'),
       url('@/static/svg/iconfont.svg?t=1681126472511#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bofang1:before {
  content: "\e65f";
}

